@use "vars" as v;

.services {
    &__container {
        display: flex;
        flex-direction: column;
        position: relative; 
        z-index: 1;
        border-bottom-left-radius: v.$radius-md;
        border-bottom-right-radius: v.$radius-md;
        
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 10px;
            right: 10px;
            height: 10px;
            background: v.$text-color;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            z-index: -1;
        }

        &::before {
            bottom: -10px;
        }

        &::after {
            bottom: -20px;
            left: 15px;
            right: 15px;
            background-color: v.$shadow-color; // Darker shadow tone
        }
      }
      
    &__list{
       padding-bottom: 30px; 
    }


    &__section-box {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
    }

    &__list-link {
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        color: v.$regular-color;
        display: inline-flex;
        align-items: center;

        &:hover{
            color: v.$accent-color;
        }
    }

    &__list-title {
        font-size: 30px;
        line-height: 100%;
        background: v.$gradient-red-text;
        background-clip: text;
        color: transparent;
    }

    &__list-items {
        display: grid;
        grid-template-columns: 1fr; 
        padding-top: 30px;
        gap: 30px;
      
        @media screen and (min-width: v.$breakpoint-md) {
          grid-template-columns: repeat(2, 1fr); 
        }

        @media screen and (min-width: v.$breakpoint-lg) {
            grid-template-columns: repeat(3, 1fr); 
        }
    }

    &__list-item {
        display: flex;
        flex-direction: column;
    }

    &__list-icon {
        width: 64px;
        height: 64px;
        padding: 14px;
        border-radius: v.$radius-lg;
        background-color: v.$basic-white;
    }

    &__list-box-block {
        padding-top: 30px;
    }


    &__list-box-title {
        font-weight: 700;
        font-size: 22px;
        color: v.$regular-color;
        line-height: 100%;
        text-decoration: none;
    }


    &__list-box-desc {
        font-weight: 400;
        font-size: 16px;
        padding-top: 15px;
        color: v.$basic-white;
        line-height: 26px;
    }
}

.arrow {
    border: solid v.$regular-color;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
}
.right {
    transform: rotate(-45deg);
}

